body{
	margin: 0;
	padding: 0;
}

.banner{
	display: flex;
	width: 100%;
	height: 150px;
}


.title{
	width: 100%;
	height: 100%;
	float: right;
}

a:link{
	color: #03a9f4;
}
a:hover{
	color: #01579b;
}
a:visited{
	color: #03a9f4;
}

.banner-top{
	width: 100%;
	height: 50%;
	text-align: center;
	font-size: 60px;
	background-color: #0288d1;
}

.banner-bottom{
	width: 100%;
	height: 50%;
	text-align: left;
	background-color: #01579b;
}

.welcome{
	animation-name: welcom;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
	position: relative;
	font-size: 60px;
}

@keyframes welcom{
	0%{color: #e1f5fe;left: 0%;}
	100%{color: #01579b;left: 53%;}
}

main{
	width: 80%;
	height: 100%;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	font-size: 40px;
}

.bold{
	font-size: 30px;
}

img{
	width: 50px;
	height: 50px;
}

table{
	margin: auto;
	font-size: 40px;
}
.left{
	text-align: left;
}
.button{
	width: 500px;
	height: 80px;
	font-size: 50px;
	background-color: #0288d1;
	color: #01579b;
}
.button-signup{
	width: 250px;
	height: 80px;
	font-size: 50px;
	background-color: #0288d1;
	color: #01579b;
}
.button-login{
	width: 250px;
	height: 80px;
	font-size: 50px;
	background-color: #0288d1;
	color: #01579b;
}













